.header {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.button{
  margin-right: 10px;
}

.noteWrapper {
  z-index: 10;
  position: relative;
}

.noteWrapper.active {
  z-index: 100;
}